:host ::ng-deep {    
    .p-datatable-responsive-demo .p-datatable-tbody > tr > td .p-column-title {
        display: none;
    }
}

@media screen and (max-width: 40rem) {
    :host ::ng-deep {
        .p-datatable {
            &.p-datatable-responsive-demo {
                .p-datatable-thead > tr > th,
                .p-datatable-tfoot > tr > td {
                    display: none !important;
                }

                .p-datatable-tbody > tr > td {
                    text-align: left;
                    display: block;
                    width: 100%;
                    float: left;
                    clear: left;
                    border: 0 none;

                    .p-column-title {
                        padding: .4rem;
                        min-width: 30%;
                        display: inline-block;
                        margin: -.4em 1em -.4em -.4rem;
                        font-weight: bold;
                    }

                    &:last-child {
                        border-bottom: 1px solid var(--surface-d);
                    }
                }
            }
        }
    }
}
.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    border-radius: 0.25rem;
    display: inline-block;
    width: 2rem;
}

.custom-day:hover,
.custom-day.focused {
    background-color: #e6e6e6;
}

.weekend {
    background-color: #f0ad4e;
    border-radius: 1rem;
    color: white;
}

.hidden {
    display: none;
}

.Libre {
    background-color: rgba(86, 241, 86, 0.5)!important;
}

.Asignado {
    background-color: #FE9A2E!important;
}

.Cancelado {
    background-color: #FF7676 !important;
}

.Reservado {
    background-color: #8c8cb3 !important;
}

.Ausente {
    background-color: #FF7783 !important;
}

.SalaEspera {
    background-color: #FFFF00 !important;
}

.Atendido {
    background-color: #FF7676 !important;
}

.Usado {
    background-color: #FF4980 !important;
}