<div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url(assets/images/big/auth-bg.jpg) no-repeat center center;">
    <div>
        <div class="auth-box">
            <div id="form">
                <div class="logo">
                    <span class="db"><img src="assets/images/logo-icon.png" alt="logo" /></span>
                    <h5 class="font-medium m-b-20">Verificación código</h5>
                </div>
                <div  class="alert alert-info">se ha enviado un mensaje de texto con el codigo de validacion, 
                    asi como tambien un correo electronico a su casilla de correo. (en caso de no recibir el codigo
                     de validacion en su celular o su correo, por favor pulse "solicitar
                    nuevo codigo"</div>

                <!-- Form -->
                <div class="row">
                    <div class="col-12">
                        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-horizontal m-t-20">
                            <label for="name">Usuario</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="ti-user"></i></span>
                                </div>
                                <input [formControl]="userName" autocomplete="off" class="form-control validation-field" type="text" disabled>

                            </div>

                            <label for="name">Código</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="ti-user"></i></span>
                                </div>
                                <input [formControl]="semilla" autocomplete="off" minlength="4" maxlength="4" class="form-control validation-field" type="text">

                            </div>
                            <small class="form-text text-danger"
                                *ngIf="!form.get('semilla').valid && (form.get('semilla').dirty || form.get('semilla').touched)">Codigo verificacion requerido
                            </small>




        <div class="form-group">
            <button [disabled]="(!form.valid )" class="btn btn-info" type="submit">validar</button> <br>
            <button [disabled]="(!form.valid )" (click)="solicitarNuevoCodigo()" class="btn btn-warning" type="submit">solicitar nuevo codigo</button>
        </div>
        <div *ngIf="error && error !==''" class="alert alert-danger" role="alert">
            {{error}}
        </div>
    </form>
</div>
